
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Help | Shiash</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<header class="cd-header flex flex-column flex-center">
  <div class="text-component text-center">
    <h1>HELP/FAQ</h1>
  </div>
</header>


<section class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg">
	<ul class="cd-faq__categories">
		<li><a class="cd-faq__category cd-faq__category-selected truncate" href="#basics">Personal Data</a></li>
		<li><a class="cd-faq__category truncate" href="#account">Purpose of Processing</a></li>
		<li><a class="cd-faq__category truncate" href="#payments">Storage Period</a></li>

	</ul>

	<div class="cd-faq__items">
		<ul id="basics" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Personal Data</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Personal data is all information about an identified or identifiable persons. This includes the following categories of personal data that we process:

				• Your contact details (such as first and last name, address, e-mail address, phone number)
				• Your correspondence with us
				• Log files with information about your visit to our website
				• Payment data (such as bank account number, credit card number, financial institution)
				• Online identifiers (such as cookie IDs, IP addresses, advertising IDs)
				• Customer data (such as invoice data, user profiles, address, order history, payment data)</p>
          </div>
				</div> 
			</li>
</ul>
			
		<ul id="mobile" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Purpose of Processing</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>We process your data for the following purposes:
				<ul><li>For corresponding with you</li>
				<li>For processing contracts with you</li>
				<li>For advertising purposes such as the dispatch of our newsletter</li>
				<li>On quality assurance and statistics</li>
				<li>In order to provide our service</li>
				<li>In order to improve our service</li></ul></p>
          </div>
				</div>
			</li>
			</ul>

		<ul id="account" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Storage Period</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>We store your data,
				<ul><li>if you have consented to the processing, at most until you revoke your consent;</li>
					<li>if we need the data for the execution of a contract, at most for as long as the contractual relationship with you exists;</li>
					<li>if we use the data on the basis of a legitimate interest, at most for as long as your interest in deletion or anonymisation does not outweigh the data;</li>
					<li>insofar as statutory storage obligations exist, until the end of the storage periods</li>
					</ul></p>
          </div>
				</div>
			</li>
		</ul>
	</div>

	<a href="#0" class="cd-faq__close-panel text-replace">Close</a>

  <div class="cd-faq__overlay" aria-hidden="true"></div>
</section>

</body>
</html>